<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>GoSecure: A Web Framework for OSINT</title>
</head>
<body>
    <div class="container">
        <h1>GoSecure: A Web Framework for OSINT</h1>

        <h2>Functionality</h2>
        <div class="functionality-box">
            <form id="functionalityForm">
                <div class="functionality-options">
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="whois" required>WHOIS
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="getData" required>Header Information
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="cookie" required>Cookie
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="hstsChecker" required>HSTS Checker
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="portScanner" required>Port Scanner
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="dnsLookup" required>DNS Lookup
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="dnssec" required>DNSSEC Records
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="dns" required>DNS Server Info
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="servstat" required>Server Status
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="SSLInfo" required>SSLInfo
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="sitemap" required>Sitemap
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="functionality" value="crawlcheck" required>Crawl Rules
                    </label>
                </div>

                <br>
                <label for="inputField">Enter URL or Hostname:</label>
                <input type="text" id="inputField" name="inputField" required>
                <input type="submit" value="Scan" class="submit-button">
            </form>
        </div>

        <div class="response-container" id="responseContainer"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
